body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}

h1, ul {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 15px 40px;
}



.left-box {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
    font-weight: bold;
    font-family: "Rubik", 'Helvetica', 'Arial', 'Sans-serif';
    font-weight: 100px;
    color: #11161d;
}

li:hover {
    color: #00A2FF;
    cursor: pointer;
}

.right-box {
    display: flex;
    gap: 20px;
}

.right-box button:first-child {
    background: none;
    border: none;
    font-family: "Rubik", 'Helvetica', 'Arial', 'Sans-serif';
    font-weight: bold;
    color: #11161d;
}

.right-box button:first-child:hover {
    color: #00A2FF;
    cursor: pointer;
}

.demo-btn {
    border: 2px solid #FC5B1A;
    border-radius: 10px;
    color: #FC5B1A;
    background-color: white;
    padding: 8.4px 11.2px;
    background: none;
    font-weight: bold;
    font-family: "Rubik", 'Helvetica', 'Arial', 'Sans-serif';
}

.demo-btn:hover {
    background-color: #FC5B1A;
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.right-box button:last-child {
    color: #ffff;
    border: 2px solid #00A2FF;
    border-radius: 10px;
    padding: 8.4px 11.2px;
    font-weight: bold;
    background-color: #00A2FF;
    font-family: "Rubik", 'Helvetica', 'Arial', 'Sans-serif';
    font-weight: 100px;
}

.right-box button:last-child:hover {
    background-color: white;
    color: #00A2FF;
    cursor: pointer;
    border: 2px solid #00A2FF;
}

/* HERO SECTION */

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.hero-content {
    text-align: center;
    margin-top: 3%;
}

.hero-content-email-p {
    font-family: "Rubik";
    color: #717171;
    font-weight: bold;
}

.hero-content h1 {
    font-size: 65px;
    font-family: "Rubik";
    margin-top: -1%;
}

.hero-content-get-email {
    font-size: 20px;
    font-family: "Rubik";
    margin-bottom: 6%;
}

.hero-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;

}

.hero-button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 60px;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid #ac9b05;
    background-color: #fbe30c;
}

.hero-button-container button:hover {
    background-color: #00A2FF;
    color: white;
    border: 2px solid #00A2FF;
    cursor: pointer;
}

.hero-button-container span {
    font-size: 11px;
    font-family: "Rubik";
}