            .title {
                color: red;
                font-size: 40x;
            }

            .name {
                color: blue;
                font-size: 40x;
            }
            
            #another {
                color: brown;
                font-size: 40x;
            }
            span{
                color: chocolate;
                font-size: 40x;
            }
